{{define "About"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style-for-mainpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Golap</title>
</head>

<body style="margin: 0;">
    <section>
        <header>
            <div class="Header">
                <div class="Nav">
                    <div class="Logo">
                        <div class="LogoPhoto"><a href="/"><img src="/Img/175314-ghost-png-image-high-quality.png"
                                    alt=""></a></div>
                        <div> <a href="/">
                                <h1>GOLAP</h1>
                            </a></div>
                        <div>
                            <form action="/SearchPage" method="POST">
                                <input name="productsName" placeholder="Enter ..." type="text">
                            </form>
                        </div>

                    </div>
                    <div class="IconPanel">
                        <div class="Icon"><a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-cart2" viewBox="0 1 16 16">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                                </svg></a></div>
                        <div class="Icon"><a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg></a></div>
                        <div class="Icon"> <a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z" />
                                </svg></a></div>
                    </div>

                </div>
            </div>
        </header>
    </section>

    <section>
        <div class="AboutProducts">
            <div class="AboutDis">
                <div class="AboutImg">
                    <img src="/Img/1-strawberry-png-images.png" alt="">
                </div>
                <div class="AboutName">
                    <div>
                        <h1>{{.ProductName}}</h1>
                    </div>
                    <div>
                        <p>Продавець: GOLAP</p>
                    </div>
                    <div>
                        <p>{{.Price}} UAH</p>
                    </div>

                    <div class="Like">

                        <div>

                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-suit-heart" viewBox="0 0 16 16">
                                    <path
                                        d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                </svg>
                            </a>
                        </div>
                        <div class="AboutIcon">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart2"
                                    viewBox="0 1 16 16">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p>{{.Description}}</p>
                    </div>

                </div>
            </div>
            <div class="Сharact">
                <div class="CharactProd">
                    <p>{{.Description}}____________________</p>
                    <p>{{.Description}}____________________</p>
                    <p>{{.Description}}____________________</p>
                    <p>{{.Description}}____________________</p>
                    <p>{{.Description}}____________________</p>
                    <p>{{.Description}}____________________</p>
                </div>
                <div>
    
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" class="section-footer">
        <footer class="top">
            <div class="links">
                <div class="links-column">
                    <h2>Get Started</h2>
                    <a>Introduction</a>
                </div>
                <div class="links-column">
                    <h2>Resources</h2>
                    <a>API</a>
                </div>
                <div class="links-column socials-column">
                    <h2>Social Media</h2>
                    <div class="socials">
                        <a href="https://www.instagram.com/17_.shevchenko._17/" class="fa-brands fa-instagram"></a>
                        <a class="fa-brands fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="bottom">
            <p class="copyright">© 2023 All rights reserved</p>
            <div class="legal">
                <a> License </a>
                <a> Terms </a>
                <a> Privacy </a>
            </div>
        </footer>
    </section>
    <script src="/Func/Func-for-mainpage.js"></script>
</body>

</html>
{{end}}