{{define "footer2"}}
<section id="section-about" class="section-footer">
    <footer class="bottom">
        <p class="copyright">© 2023 All rights reserved</p>
        <div class="legal">
            <a> License </a>
            <a> Terms </a>
            <a> Privacy </a>
        </div>
    </footer>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var emailInput = document.getElementById('email');
        var passwordInput = document.getElementById('password');
        var userTypeInputs = document.querySelectorAll('input[name="userType"]');
        var error1Message = document.querySelector('.Error1');
        var submitButton = document.querySelector('.ButtonRegistr button');

        // Додаємо слухачів подій для полів введення
        emailInput.addEventListener('input', handleInput);
        passwordInput.addEventListener('input', handleInput);

        userTypeInputs.forEach(function (input) {
            input.addEventListener('input', handleInput);
        });

        function handleInput() {
            var email = emailInput.value.trim();
            var password = passwordInput.value.trim();
            var userType = document.querySelector('input[name="userType"]:checked');

            // Перевірка на заповнення всіх полів
            if (!email || !password || !userType) {
                error1Message.style.display = 'block'; // Показати повідомлення про помилку
                submitButton.disabled = true; // Зробити кнопку неактивною
            } else {
                error1Message.style.display = 'none'; // Сховати повідомлення про помилку, якщо значення введено коректно
                submitButton.disabled = false; // Зробити кнопку активною
            }
        }
    });
</script>

</body> 
</html>
{{end}}