{{define "header3"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style-for-mainpagewithregi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Golap</title>
</head>

<body style="margin: 0;">
    <section>
        <header>
            <div class="Header">
                <div class="Nav">
                    <div class="Logo">
                        <div class="LogoPhoto"><a href=""><img src="/Img/175314-ghost-png-image-high-quality.png"
                                    alt=""></a></div>
                        <div> <a href="">
                                <h1>GOLAP</h1>
                            </a></div>
                        <div>
                            <form action="">
                                <input placeholder="Enter ..." type="text">
                            </form>
                        </div>

                    </div>
                    <div class="IconPanel">
                        <div class="Icon"><a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-cart2" viewBox="0 1 16 16">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                                </svg></a></div>
                        <div class="Icon"><a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg></a></div>
                        <div class="Icon ProfileIcon">
                            <div class="Icon"> <a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                        <path
                                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                        <path
                                            d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                    </svg></a></div>
                            <div class="ProfileDropdown">
                                <ul>
                                    <li><a href="">Профіль</a></li>
                                    <li><a href="/">Вийти</a></li>
                                    <!-- <li><button>Профіль</button></li>
                                    <li><button>Вийти</button></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </header>
    </section>
    {{end}}