{{define "Loginpage"}}
{{template "header2"}}
<section>
    <div class="BlockR">
        <div class="Registr">
            <div class="BlockRegistr">
                <form class="loginForm" action="/CheckUser" method="post">
                    <div class="InputBlock">
                        <label for="email">Email:</label>
                        <input placeholder="Enter ..." type="email" id="email" name="email" required>
                        <label for="password">Password:</label>
                        <input placeholder="Enter ..." type="password" id="password" name="password" required>
                    </div>
                    <div class="Remember">
                        <label>
                            <input type="checkbox" id="rememberMe" name="rememberMe"> Remember Me
                        </label>
                    </div>

                    <div class="ButtonRegistr">
                        <button >Log in</button>
                    </div>
                </form>
                <div class="LogIn">
                    <a href="/Registration">log up</a>
                </div>
            </div>
            
        </div>
        <div class="Animation">
            <div class="BlockRegistr">
                <img style="width: 100%; height: 120%;" src="/Img/2 - ghost.png" alt="">
            </div>
        </div>
    </div>
</section>

{{template "footer2"}}
{{end}}