{{define "MainpageWithRegi"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style-for-mainpagewithregi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Golap</title>
</head>

<body style="margin: 0;">
    <section>
        <header>
            <div class="Header">
                <div class="Nav">
                    <div class="Logo">
                        <div class="LogoPhoto"><a href=""><img src="/Img/175314-ghost-png-image-high-quality.png"
                                    alt=""></a></div>
                        <div> <a href="">
                                <h1>GOLAP</h1>
                            </a></div>
                        <div>
                            <form action="">
                                <input placeholder="Enter ..." type="text">
                            </form>
                        </div>

                    </div>
                    <div class="IconPanel">
                        <div class="Icon"><a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-cart2" viewBox="0 1 16 16">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                                </svg></a></div>
                        <div class="Icon"><a href="/Loginpage"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg></a></div>
                        <div class="Icon ProfileIcon">
                            <div class="Icon"> <a href=""><svg xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                        <path
                                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                        <path
                                            d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                    </svg></a></div>
                            <div class="ProfileDropdown">
                                <ul>
                                    <li><a href="">Профіль</a></li>
                                    <li><a href="/Logout">Вийти</a></li>
                                    <!-- <li><button>Профіль</button></li>
                                    <li><button>Вийти</button></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </header>
    </section>
<section>
    <div class="BodyPanel">
        <div class="LeftPanel">
            <a href="">Алкогольні напої та продукти</a>
            <a href="">Смартфони, ТВ і електроніка</a>
            <a href="">Одяг, взуття та прикраси</a>
            <a href="">Ноутбуки та комп’ютери</a>
            <a href="">Сантехніка та ремонт</a>
            <a href="">Товари для геймерів</a>
            <a href="">Спорт і захоплення</a>
            <a href="">Офіс, школа, книги</a>
            <a href="">Дача, сад і город</a>
            <a href="">Краса та здоров’я</a>
            <a href="">Побутова техніка</a>
            <a href="">Товари для дому</a>
            <a href="">Побутова хімія</a>
            <a href="">Дитячі товари</a>
            <a href="">Зоотовари</a>
        </div>
        <div class="MainPanel">
            <div class="Carusel">
                <div class="slideshow-container">
                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>

                    </div>
                    <div class="slideshow-container">
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="/Img/img_nature_wide.jpg" style="width:100%">
                            <div class="text">1</div>

                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <a href=""><img src="/Img/img_nature_wide.jpg" style="width:100%"></a>
                            <div class="text">2</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="/Img/img_nature_wide.jpg" style="width:100%">
                            <div class="text">3</div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="Buy">
                <div class="Products">
                    {{range .}}
                    <div class="Tovar">
                        <div class="Ram">
                            <a href="/Products/{{.ProductName}}">
                                <img class="PhotoP" src="/Img/1-strawberry-png-images.png" alt="">
                                <a href="/Products/{{.ProductName}}">
                                    <p class="NameP">{{.ProductName}}</p>
                                </a>
                                <div class="BlockP">
                                    <p class="PriceP">{{.Price}}
                                    <p class="Grivnya">₴</p>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {{end}}
                </div>
                <div class="pagination">
                    <button class="first"></button>
                    <button class="prev"><<</button>
                    <button class="next">>></button>
                    <button class="last"></button>
                </div>
            </div>
        </div>
</section>

<section id="section-about" class="section-footer">
    <footer class="top">
        <div class="links">
            <div class="links-column">
                <h2>Get Started</h2>
                <a>Introduction</a>
            </div>
            <div class="links-column">
                <h2>Resources</h2>
                <a>API</a>
            </div>
            <div class="links-column socials-column">
                <h2>Social Media</h2>
                <div class="socials">
                    <a href="https://www.instagram.com/17_.shevchenko._17/" class="fa-brands fa-instagram"></a>
                    <a class="fa-brands fa-linkedin"></a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="bottom">
        <p class="copyright">© 2023 All rights reserved</p>
        <div class="legal">
            <a> License </a>
            <a> Terms </a>
            <a> Privacy </a>
        </div>
    </footer>
</section>
<script src="/Func/Func-for-mainpage.js"></script>
</body> 
</html>
{{end}}