{{define "Mainpage"}}
{{template "header"}}
<section>
    <div class="BodyPanel">
        <div class="LeftPanel">
            <a href="">Алкогольні напої та продукти</a>
            <a href="">Смартфони, ТВ і електроніка</a>
            <a href="">Одяг, взуття та прикраси</a>
            <a href="">Ноутбуки та комп’ютери</a>
            <a href="">Сантехніка та ремонт</a>
            <a href="">Товари для геймерів</a>
            <a href="">Спорт і захоплення</a>
            <a href="">Офіс, школа, книги</a>
            <a href="">Дача, сад і город</a>
            <a href="">Краса та здоров’я</a>
            <a href="">Побутова техніка</a>
            <a href="">Товари для дому</a>
            <a href="">Побутова хімія</a>
            <a href="">Дитячі товари</a>
            <a href="">Зоотовари</a>
        </div>
        <div class="MainPanel">
            <div class="Carusel">
                <div class="slideshow-container">
                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>

                    </div>
                    <div class="slideshow-container">
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="/Img/img_nature_wide.jpg" style="width:100%">
                            <div class="text">1</div>

                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <a href=""><img src="/Img/img_nature_wide.jpg" style="width:100%"></a>
                            <div class="text">2</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext"></div>
                            <img src="/Img/img_nature_wide.jpg" style="width:100%">
                            <div class="text">3</div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="Buy">
                <div class="Products">
                    {{range .}}
                    <div class="Tovar">
                        <div class="Ram">
                            <a href="/Products/{{.ProductName}}">
                                <img class="PhotoP" src="/Img/1-strawberry-png-images.png" alt="">
                                <a href="/Products/{{.ProductName}}">
                                    <p class="NameP">{{.ProductName}}</p>
                                </a>
                                <div class="BlockP">
                                    <p class="PriceP">{{.Price}}
                                    <p class="Grivnya">₴</p>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {{end}}
                </div>
                <div class="pagination">
                    <button class="first"></button>
                    <button class="prev"><<</button>
                    <button class="next">>></button>
                    <button class="last"></button>
                </div>

            </div>
        </div>
</section>
{{template "footer"}}
{{end}}