{{define "Registrpage"}}
{{template "header2"}}
<section>
    <div class="BlockR">
        <div class="Registr">
            <div class="BlockRegistr">
                <form class="loginForm" action="/SaveUser" method="post">
                    <div class="InputBlock">
                        <label for="email">Email:</label>
                        <input placeholder="Enter ..." type="email" id="email" name="email" required>
                        <p class="Error" style="color: red; padding: 0; visibility: hidden;">Цей email вже зареєстрований</p>
                        <label for="password">Password:</label>
                        <input placeholder="Enter ..." type="password" id="password" name="password" required>
                    </div>
                    <label for="userType">User Type:</label>
                    <div>
                        <label>
                            <input type="radio" id="userRadio" name="userType" value="user"> User
                        </label>
                        <label>
                            <input type="radio" id="solderRadio" name="userType" value="seller"> Seller
                        </label>
                    </div>
                    <p class="Error1" style="color: red; padding: 0; ">Заповніть всі поля</p>
                    <div class="ButtonRegistr">
                        <button >Log up</button>
                    </div>
                </form>
                <div class="LogIn">
                    <a href="/Loginpage">log in</a>
                </div>
            </div>
            
        </div>
        <div class="Animation">
            <div class="BlockRegistr">
                <img style="width: 100%; height: 120%;" src="/Img/2 - ghost.png" alt="">
            </div>
        </div>
    </div>
</section>

{{template "footer2"}}
{{end}}